<div class="main users-new">
  <div class="container">
    <div class="form-heading">新規ユーザー登録</div>
    <div class="form users-form">
      <div class="form-body">
      
 
        <%= form_with model: @user, url: "/users/create" do |form| %>
        <div>
          <label for="email">email</label>
          <%= form.text_field :email %>
        </div>
        <div>
        <label for="password">password</label>
          <%= form.password_field :password %>
        </div>
         <div>
        <label for="password">password</label>
          <%= form.password_field :password_confirmation %>
          <%= form.submit %> 
           <% end %>
     </div>
  </div>
</div>
</div>