<h1>Top</h1>
<div class="container">
    <div class="main">
        <%= form_with model: @post, url: p_create_path, class: :form_container do |f| %>
          <%= f.text_area :content %>
          <%= f.submit "投稿" %>
        <% end %>
        <div class="posts">
            <div class="posts_content">
                <% @ps.each do |p| %>
                    <!--<% if p.del_flg == false %>-->
                      <p><%= p.user.email %> | <%= link_to p.content, p_edit_path(p) %> |<%= link_to("削除", "/posts/#{p.id}/destroy", {method: "post"}) %></p>
                    <% end %>    
                <% end %>
            </div>
        </div>
    </div>
</div>