<div class="header">
    <div class="header-inner">
        <h1 class="logo">Twitter</h1>
        <ul class="nav">
            <li class="nav-item">
                <%= link_to "Top", "/" %>
            </li>
             <% if session[:user_id] %>
             <li>
              現在ログインしているユーザーのid:
              <%= session[:user_id] %>
             </li>
            <% end %>
            <li class="nav-item">
                <%= link_to "About", "/about" %>
            </li>
            <li class="nav-item">
                <%= link_to "ユーザー一覧", "/users/index" %>
            </li>
           <% if session[:user_id] %>
            <li>
                <%= link_to("ログアウト", "/logout", method: :delete) %>
            </li>
            <% else %>
                <li>
                    <%= link_to("新規登録", "/signup") %>
                </li>
                <li>
                    <%= link_to("ログイン", "/login") %>
                </li>
            <% end %>
        </ul>
    </div>
</div>